@charset "utf-8";
.new_msg {
  position: relative;
}
.new_msg::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: #FF6666;
  top: 50%;
  left: 0;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
.quiz_module {
  min-width: 960px;
  background-color: #F5F6F7;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
}
.quiz_module .breadcrumb {
  width: 100%;
  background: #FFFFFF;
  padding: 0 24px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
}
.quiz_module .breadcrumb ul {
  overflow: hidden;
}
.quiz_module .breadcrumb ul li {
  float: left;
}
.quiz_module .breadcrumb ul li a {
  display: inline-block;
  color: #2D3037;
  height: 54px;
  line-height: 54px;
}
.quiz_module .breadcrumb ul li i {
  display: inline-block;
  margin: 0 6px 0 3px;
}
.quiz_module .breadcrumb ul li:nth-last-of-type(n+2) a:hover {
  color: #FF6666;
}
.quiz_module .amount_tab {
  padding: 19px 0;
  background: #fff;
  margin-bottom: 12px;
  display: flex;
}
.quiz_module .amount_tab .amount_item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz_module .amount_tab .amount_item .amount_sum {
  padding: 12px 0;
}
.quiz_module .amount_tab .amount_item .amount_sum .number {
  color: #2D3037;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 14px;
}
.quiz_module .amount_tab .amount_item .amount_sum .number .amount_icon {
  font-size: 12px;
  font-weight: bold;
}
.quiz_module .amount_tab .amount_item .amount_sum .amount_msg {
  color: #757D8F;
}
.quiz_module .amount_tab .amount_item .amount_sum .amount_msg a {
  margin-left: 12px;
}
.quiz_module .amount_tab .amount_item .cash_btn {
  width: 72px;
  height: 32px;
  line-height: 30px;
  background: #FF6666;
  border-radius: 4px;
  margin-left: 20px;
}
.quiz_module .amount_tab .amount_item:first-child {
  border-right: 1px solid #E9EDEF;
}
.quiz_module .interest_wrapper {
  padding: 32px 24px 20px;
  background: #fff;
  margin-bottom: 12px;
}
.quiz_module .interest_wrapper h2 {
  height: 14px;
  font-size: 14px;
  font-weight: 500;
  color: #2D3037;
  line-height: 14px;
  margin-bottom: 24px;
}
.quiz_module .interest_wrapper .interest_type {
  display: flex;
  justify-content: space-between;
}
.quiz_module .interest_wrapper .interest_type .interest_list {
  max-width: 730px;
  display: flex;
  flex-wrap: wrap;
}
.quiz_module .interest_wrapper .interest_type .interest_list li {
  height: 32px;
  border-radius: 4px;
  padding: 0 16px;
  border: 1px solid #BDC5D3;
  color: #2B2F33;
  margin-right: 12px;
  margin-bottom: 12px;
  line-height: 30px;
  cursor: pointer;
}
.quiz_module .interest_wrapper .interest_type .interest_list .active {
  color: #FF6666;
  border-color: #FF6666;
  background: rgba(255, 102, 102, 0.2);
}
.quiz_module .interest_wrapper .interest_type .refresh_btn {
  height: 32px;
}
.quiz_module .interest_wrapper .interest_type .refresh_btn i {
  height: 32px;
  width: 32px;
  display: inline-block;
  background: url(../images/refresh.png) no-repeat center;
  vertical-align: middle;
}
.quiz_module .interest_wrapper .interest_type .refresh_btn a {
  vertical-align: center;
}
.quiz_module .userinfo_wrapper {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
.quiz_module .userinfo_wrapper .userinfo_left {
  min-width: 300px;
  margin-right: 16px;
  background-color: #fff;
  padding: 16px 20px;
  flex-shrink: 0;
  display: flex;
}
.quiz_module .userinfo_wrapper .userinfo_left .userinfo_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 12px;
}
.quiz_module .userinfo_wrapper .userinfo_left .userinfo_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.quiz_module .userinfo_wrapper .userinfo_left .userinfo_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quiz_module .userinfo_wrapper .userinfo_left .userinfo_cont .user .user_name {
  color: #2D3037;
  font-size: 16px;
}
.quiz_module .userinfo_wrapper .userinfo_left .userinfo_cont .user .user_auth {
  padding: 0 5px;
  height: 14px;
  background: rgba(18, 205, 102, 0.16);
  border-radius: 4px;
  border: 1px solid #12CD66;
  color: #12CD66;
  font-size: 12px;
  line-height: 12px;
  margin-left: 6px;
}
.quiz_module .userinfo_wrapper .userinfo_left .userinfo_cont .user_phone {
  color: #95979a;
}
.quiz_module .userinfo_wrapper .userinfo_left .userinfo_cont .join_time {
  color: #898b8c;
}
.quiz_module .userinfo_wrapper .userinfo_right {
  flex: 1;
  padding: 24px 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.quiz_module .userinfo_wrapper .userinfo_right .right_item {
  width: 15%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz_module .userinfo_wrapper .userinfo_right .right_item .right_sum .number {
  color: #2D3037;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 14px;
}
.quiz_module .userinfo_wrapper .userinfo_right .right_item .right_sum .number .right_icon {
  font-size: 12px;
  font-weight: bold;
}
.quiz_module .userinfo_wrapper .userinfo_right .right_item .right_sum .right_msg {
  color: #757D8F;
}
.quiz_module .userinfo_wrapper .userinfo_right .right_item .right_sum .right_msg a {
  margin-left: 12px;
  position: relative;
}
.quiz_module .userinfo_wrapper .userinfo_right .right_item .right_sum .right_msg a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-top: 5px solid #fff;
  border-left: 5px solid #20A0FF;
  border-bottom: 5px solid #fff;
}
.quiz_module .userinfo_wrapper .userinfo_right .right_item:nth-child(2) .number {
  color: #12CD66;
}
.quiz_module .userinfo_wrapper .userinfo_right .right_item:nth-child(3) .number {
  color: #FF6666;
}
.quiz_module .userinfo_wrapper .userinfo_right .right_item:nth-child(4) .number {
  color: #F7BA2A;
}
.quiz_module .userinfo_wrapper .userinfo_right .right_item:last-child {
  width: 30%;
  border-left: 1px solid #E9EDEF;
}
.quiz_module .quiz_wrapper {
  height: 100%;
}
.quiz_module .quiz_wrapper .selectbox {
  background-color: #fff;
  padding: 24px;
}
.quiz_module .quiz_wrapper .selectbox .select_left .earnings {
  color: #2D3037;
  line-height: 36px;
}
.quiz_module .quiz_wrapper .selectbox .select_left .earnings .money {
  color: #fa9b0c;
  margin-left: 10px;
}
.quiz_module .quiz_wrapper .selectbox .select_left .left_search {
  display: flex;
  align-items: center;
}
.quiz_module .quiz_wrapper .selectbox .select_left .left_search input {
  width: 288px;
  margin-right: 12px;
}
.quiz_module .quiz_wrapper .selectbox .select_left .left_search .refresh_btn {
  height: 32px;
  width: 32px;
  background: url(../images/refresh.png) no-repeat center;
  cursor: pointer;
  margin-left: auto;
}
.quiz_module .quiz_wrapper .selectbox .select_right .btn-group {
  float: left;
}
.quiz_module .quiz_wrapper .selectbox .select_right .refresh_search {
  height: 32px;
}
.quiz_module .quiz_wrapper .selectbox .select_right .refresh_search i {
  height: 32px;
  width: 32px;
  display: inline-block;
  background: url(../images/refresh.png) no-repeat center;
  vertical-align: middle;
}
.quiz_module .quiz_wrapper .autid_wrapper {
  height: 62px;
  padding: 0 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quiz_module .quiz_wrapper .autid_wrapper ul {
  display: flex;
}
.quiz_module .quiz_wrapper .autid_wrapper ul li {
  margin-right: 20px;
}
.quiz_module .quiz_wrapper .autid_wrapper ul li a {
  display: inline-block;
  color: #2D3037;
  font-size: 14px;
  padding: 0 10px;
  height: 62px;
  line-height: 60px;
  border-bottom: 2px solid transparent;
}
.quiz_module .quiz_wrapper .autid_wrapper ul li .active {
  border-color: #FF6666;
  color: #FF6666;
}
.quiz_module .quiz_wrapper .list_head {
  height: 62px;
  padding: 0 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quiz_module .quiz_wrapper .list_head h2 {
  font-size: 14px;
  font-weight: 500;
  color: #2D3037;
  line-height: 14px;
  font-weight: bold;
}
.quiz_module .quiz_wrapper .list_head .refresh_btn {
  height: 32px;
  cursor: pointer;
  color: #20A0FF;
}
.quiz_module .quiz_wrapper .list_head .refresh_btn span {
  display: inline-block;
  vertical-align: middle;
}
.quiz_module .quiz_wrapper .list_head .refresh_btn .refresh_icon {
  width: 32px;
  height: 32px;
  background: url(../images/refresh1.png) no-repeat center;
}
.quiz_module .quiz_wrapper .commission_list {
  background-color: #fff;
  margin-bottom: 12px;
}
.quiz_module .quiz_wrapper .commission_list table th {
  background-color: rgba(245, 248, 250, 0.8);
  color: #5E6D81;
}
.quiz_module .quiz_wrapper .commission_list table th a {
  color: #5E6D81;
}
.quiz_module .quiz_wrapper .commission_list table th,
.quiz_module .quiz_wrapper .commission_list table td {
  padding: 16px 24px;
  vertical-align: middle;
}
.quiz_module .quiz_wrapper .commission_list table th .tages,
.quiz_module .quiz_wrapper .commission_list table td .tages {
  opacity: 0.6;
}
.quiz_module .quiz_wrapper .commission_list table th .tages i,
.quiz_module .quiz_wrapper .commission_list table td .tages i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/qa-sprite.png) no-repeat 0 -40px;
  transform: scale(0.8);
  vertical-align: middle;
}
.quiz_module .quiz_wrapper .commission_list table thead tr th:last-child,
.quiz_module .quiz_wrapper .commission_list table tbody tr td:last-child {
  text-align: center;
}
.quiz_module .quiz_wrapper .commission_list table thead tr th:last-child .green,
.quiz_module .quiz_wrapper .commission_list table tbody tr td:last-child .green {
  max-width: 60px;
  margin: 0 auto;
}
.quiz_module .quiz_wrapper .commission_list table .actions button {
  width: 64px;
  height: 28px;
  background: rgba(255, 102, 102, 0.2);
  border-radius: 2px;
  border: none;
  color: #FF6666;
  font-size: 12px;
}
.quiz_module .quiz_wrapper .commission_list table .actions a {
  color: #20A0FF;
}
.quiz_module .quiz_wrapper .commission_list table tfoot tr td {
  text-align: center;
}
.quiz_module .quiz_wrapper .commission_list table tfoot tr td .more {
  color: #20A0FF;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.quiz_module .quiz_wrapper .commission_list table tfoot tr td .more::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-left: 5px solid #fff;
  border-top: 5px solid #20A0FF;
  border-right: 5px solid #fff;
}
.quiz_module .standard_rules {
  background: #fff;
}
.quiz_module .standard_rules h2 {
  padding: 25px 0 16px 24px;
  border-bottom: 1px solid #E9EDEF;
  color: #2D3037;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
}
.quiz_module .standard_rules .rules_wrapper {
  padding: 24px;
}
.quiz_module .standard_rules .rules_wrapper .rules_title {
  color: #2D3037;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
}
.quiz_module .standard_rules .rules_wrapper .rules_model_item {
  width: 70%;
  margin-bottom: 12px;
  color: #2D3037;
  font-size: 12px;
}
.quiz_module .standard_rules .rules_wrapper .rules_model_item a {
  color: #20A0FF;
}
.quiz_module .standard_rules .rules_wrapper .rules_model_item .rules_list {
  list-style-type: decimal;
  list-style-position: inside;
}
.quiz_module .standard_rules .rules_wrapper .rules_model_item .rules_list .rules_item {
  line-height: 1.5em;
  margin-bottom: 20px;
}
.quiz_module .standard_rules .rules_wrapper .rules_model_item .rules_list .rules_item .red {
  color: #FF6666;
}
.quiz_module .standard_rules .back {
  padding: 0 0 50px 24px;
}
.quiz_module .standard_rules .back a {
  display: inline-block;
  width: 72px;
  height: 36px;
  border-radius: 2px;
  border: 1px solid #BDC5D3;
  color: #5E6D81;
  line-height: 34px;
  text-align: center;
}
.button_li {
  display: flex;
}
.golden {
  color: #fa9b0c;
}
.red span {
  color: #FF6666;
}
.blue {
  position: relative;
  padding-left: 12px;
}
.blue i {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #1F9FFF;
}
.blue span {
  color: #1F9FFF;
}
.blue p {
  color: #2d3037;
}
.yellow span {
  color: #FF9341;
}
.yellow p {
  display: inline-block;
}
.yellow .popover_icon {
  display: inline-block;
  margin-left: 6px;
  cursor: pointer;
  position: relative;
}
.yellow .popover_icon:hover .popover_modal {
  display: inline-block;
}
.yellow .popover_icon .popover_modal {
  position: absolute;
  display: none;
  top: 20px;
  left: -20px;
  width: 180px;
  line-height: 28px;
  text-align: center;
  background-color: #4f4c4c;
  color: #fff;
  border-radius: 2px;
  z-index: 10;
}
.yellow .popover_icon .popover_modal::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 22px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #4f4c4c;
  border-right: 5px solid #fff;
}
/*******弹窗*****/
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding: 0;
  font-size: 12px;
  line-height: 12px;
}
.abandon {
  padding-top: 20px;
}
.modal-content .convert-header {
  border-bottom: 1px solid #EFF1F5;
}
.modal-content .modal-body .row {
  width: 100%;
  margin: 0;
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  color: #2D3037;
  font-size: 14px;
}
.modal-content .modal-body .row .text_label {
  line-height: 36px;
}
.modal-content .modal-body .row .text_muted {
  margin-left: 16px;
  opacity: 0.8;
}
.modal-content .modal-body .row textarea {
  width: 100%;
  font-size: 12px;
}
.modal-content .modal-body .row input {
  width: 100%;
}
.modal-content .modal-body .row pre {
  width: 100%;
  line-height: 20px;
  margin-bottom: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.modal-content .modal-body .row .convert_msg {
  width: 100%;
  height: 38px;
  background: rgba(255, 102, 102, 0.1);
  border-radius: 4px;
  border: 1px solid #FF6666;
  line-height: 36px;
  padding: 0 16px;
  color: #FF6666;
}
.modal-content .modal-body .row .btn-group {
  width: 100%;
}
.modal-content .modal-body .row .tips_icon {
  display: inline-block;
  font-size: 40px;
  width: 40px;
  height: 40px;
}
.modal-content .modal-body .row .setinfo p {
  width: 100%;
  font-size: 14px;
  color: #2D3037;
  line-height: 20px;
  margin-bottom: 8px;
}
.modal-content .modal-body .row .setinfo p .red {
  color: #ff6666;
}
.modal-content .modal-body .row .setinfo .text_muted {
  font-size: 14px;
  margin: 0;
  color: #959DA8;
}
.modal-content .modal-body .row .col-xs-1,
.modal-content .modal-body .row .col-xs-2,
.modal-content .modal-body .row .col-xs-3 {
  color: #a1a4a7;
}
.modal-content .modal-body .row .checked_wrapper .circle_radio li {
  height: 20px;
  display: flex;
  align-items: center;
  margin: 0 20px 20px 0;
}
.modal-content .modal-body .row .checked_wrapper .circle_radio li span {
  color: #2D3037;
}
.modal-content .modal-body .row .checked_wrapper .circle_radio li a {
  color: #ff6666;
  margin-left: 32px;
}
.modal-content .modal-body .row .checked_wrapper .circle_radio input[type=radio] {
  display: inline-block;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #CED2D9;
  margin: 0 9px 0 0;
  position: relative;
}
.modal-content .modal-body .row .checked_wrapper .circle_radio input[type=radio]::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #CED2D9;
  background-color: #fff;
}
.modal-content .modal-body .row .checked_wrapper .circle_radio input[type=radio]:checked::before {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #FF6666;
}
.modal-content .modal-body .row .inputbox > input {
  width: 100%;
}
.modal-content .modal-body .row .inputbox .input-group {
  display: flex;
}
.modal-content .modal-body .row .inputbox .input-group .codeBtn {
  flex: 1;
  cursor: pointer;
  color: #BDC5D3;
}
.modal-content .modal-body .row .inputbox .input-group .codeBtn:hover {
  background-color: #eee;
  border-color: #ccc;
}
.modal-content .modal-body .row .inputbox > p {
  color: #a3a4a7;
  margin-top: 16px;
}
.modal-content .modal-body .row .inputbox > p span:nth-child(2) {
  color: #2D3037;
}
.modal-content .modal-body .row .protocol_wrapper {
  width: 100%;
}
.modal-content .modal-body .row .protocol_wrapper .protocol_content {
  width: 100%;
  height: 380px;
  padding: 20px;
  overflow-y: auto;
  background: rgba(189, 197, 211, 0.1);
  border-radius: 2px;
  border: 1px solid #BDC5D3;
  margin-bottom: 16px;
}
.modal-content .modal-body .row .protocol_wrapper .protocol_content .title {
  color: #2D3037;
  line-height: 22px;
  font-weight: 500;
  font-family: Regular;
  margin-bottom: 12px;
}
.modal-content .modal-body .row .protocol_wrapper .protocol_content .rules_item {
  margin-bottom: 20px;
  line-height: 22px;
  color: #5E6D81;
}
.modal-content .modal-body .row .protocol_wrapper .protocol_content .rules_item .rules_title {
  color: #2D3037;
  line-height: 22px;
  font-weight: 500;
  font-family: Regular;
}
.modal-content .modal-body .row .protocol_wrapper .protocol_content .rules_item ul {
  padding: 10px 0 0 24px;
  list-style-type: decimal;
}
.modal-content .modal-body .row .protocol_wrapper .protocol_content .rules_item ul li {
  color: #5E6D81;
  font-family: PingFangSC-Medium, PingFang SC;
  line-height: 22px;
}
.modal-content .modal-body .row .protocol_wrapper .protocol_checked input[type=checkbox] {
  display: inline-block;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid #CED2D9;
  margin: 0 9px 0 0;
  position: relative;
}
.modal-content .modal-body .row .protocol_wrapper .protocol_checked input[type=checkbox]::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid #CED2D9;
  background-color: #fff;
}
.modal-content .modal-body .row .protocol_wrapper .protocol_checked input[type=checkbox]:checked::before {
  content: '';
  width: 7px;
  height: 4px;
  position: absolute;
  left: 3px;
  top: 5px;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-bottom: 2px solid #FF6666;
  border-left: 2px solid #FF6666;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal-content .modal-body .row .protocol_wrapper .protocol_checked span {
  color: #2D3037;
}
.modal-content .modal-footer button {
  margin-left: 16px;
}
.modal-content .modal-footer button a {
  color: #fff;
}
.modal-content .modal-footer .prve {
  border: 1px solid #BDC5D3;
  background: #fff;
  color: #5E6D81;
  margin-right: 16px;
}
.modal-content .modal-footer .next {
  border: 1px solid #FF6666;
  background: #fff;
  color: #FF6666;
  margin-right: 16px;
}
/*********回答示例*********/
.sample_wrapper {
  min-width: 960px;
  background-color: #F5F6F7;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  font-size: 14px;
  color: #5E6D81;
}
.sample_wrapper .back {
  height: 54px;
  padding: 0 24px;
  background: #fff;
  margin-bottom: 12px;
}
.sample_wrapper .back .back_icon {
  float: left;
  height: 54px;
  width: 24px;
  margin-right: 20px;
  background: url(../images/arrows_left.png) no-repeat center;
}
.sample_wrapper .back span {
  float: left;
  line-height: 54px;
}
.sample_wrapper .sample_content {
  background: #fff;
  padding: 12px;
}
.sample_wrapper .sample_content .sample_head {
  width: 100%;
  padding: 17px 0 20px;
  border-bottom: 1px solid #E9EDEF;
  margin-bottom: 8px;
}
.sample_wrapper .sample_content .sample_head .sample_title {
  margin-bottom: 12px;
}
.sample_wrapper .sample_content .sample_head .sample_title .sample_head_left {
  display: inline-block;
  width: 70%;
  height: 30px;
  border: 1px dashed rgba(255, 102, 102, 0.6);
  font-size: 16px;
  padding-left: 12px;
  color: #2D3037;
  line-height: 28px;
  font-weight: bold;
}
.sample_wrapper .sample_content .sample_head .sample_title .sample_head_right {
  display: inline-block;
  width: 25%;
  padding-left: 20px;
}
.sample_wrapper .sample_content .sample_head .sample_msg {
  display: flex;
}
.sample_wrapper .sample_content .sample_head .sample_msg li {
  height: 16px;
  margin-right: 32px;
  display: flex;
  align-items: center;
}
.sample_wrapper .sample_content .sample_head .sample_msg li i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background: url(../images/qa-sprite.png) no-repeat;
}
.sample_wrapper .sample_content .sample_head .sample_msg li span {
  display: inline-block;
  color: #6C7680;
  font-size: 16px;
  line-height: 16px;
}
.sample_wrapper .sample_content .sample_head .sample_msg li:nth-child(1) i {
  background-position: 0px -40px;
}
.sample_wrapper .sample_content .sample_head .sample_msg li:nth-child(2) i {
  background-position: -146px 0px;
}
.sample_wrapper .sample_content .sample_head .sample_msg li:nth-child(3) i {
  height: 12px;
  background-position: -26px -42px;
}
.sample_wrapper .sample_content .sample_head .sample_msg li:nth-child(4) i {
  background-position: -52px -40px;
}
.sample_wrapper .sample_content .short_answer {
  margin-bottom: 12px;
}
.sample_wrapper .sample_content .short_answer .short_answer_left {
  display: inline-block;
  width: 70%;
  vertical-align: top;
}
.sample_wrapper .sample_content .short_answer .short_answer_left .answer_content {
  display: inline-block;
  width: 100%;
  padding: 0 12px;
  border: 1px dashed rgba(255, 102, 102, 0.6);
  margin-bottom: 10px;
}
.sample_wrapper .sample_content .short_answer .short_answer_left .answer_content p {
  color: #6C7680;
  font-size: 12px;
  line-height: 20px;
}
.sample_wrapper .sample_content .short_answer .short_answer_left .answer_img {
  width: 100%;
}
.sample_wrapper .sample_content .short_answer .short_answer_left .answer_img img {
  max-width: 100%;
  height: 100%;
}
.sample_wrapper .sample_content .short_answer .short_answer_right {
  display: inline-block;
  width: 25%;
  padding-left: 20px;
  vertical-align: top;
}
.sample_wrapper .sample_content .short_answer .short_answer_right .short {
  color: #2B2F33;
  margin-bottom: 12px;
}
.sample_wrapper .sample_content .short_answer .short_answer_right p {
  color: #6C7680;
  font-size: 12px;
  line-height: 20px;
}
/************编辑回答****************/
.editorial_wrapper {
  background: #FFF;
  padding-bottom: 100px;
}
.editorial_wrapper .editorial_head {
  padding: 24px 24px 12px;
  border-bottom: 1px solid #E9EDEF;
  overflow: hidden;
}
.editorial_wrapper .editorial_head .editorial_question {
  max-width: 800px;
  float: left;
}
.editorial_wrapper .editorial_head .editorial_question .editorial_title {
  height: 16px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 600;
  color: #2D3037;
  line-height: 16px;
  margin-bottom: 6px;
}
.editorial_wrapper .editorial_head .editorial_question .editorial_tag span {
  display: inline-block;
  height: 20px;
  color: #6C7680;
  padding: 0 6px;
  border-radius: 2px;
  border: 1px solid #E9EDEF;
  font-size: 12px;
  line-height: 18px;
  margin: 0 12px 12px 0;
}
.editorial_wrapper .editorial_head .editorial_earnings {
  width: 99px;
  height: 26px;
  font-size: 26px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FF9341;
  line-height: 26px;
  float: right;
}
.editorial_wrapper .editorial_answer {
  display: flex;
}
.editorial_wrapper .editorial_answer .editorial_answer_left {
  width: 65%;
  flex-shrink: 0;
  padding: 24px 0 0 35px;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .left_msg {
  color: #6C7680;
  margin-bottom: 12px;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .left_msg .answer {
  color: #2D3037;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .left_msg .answer::before {
  content: '*';
  color: #FF6666;
  position: absolute;
  top: 0;
  left: -10px;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .left_msg .answer span {
  margin-right: 6px;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .left_msg .answer_msg {
  height: 16px;
  overflow: hidden;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .left_msg .answer_msg span {
  float: left;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .left_msg .answer_msg a {
  float: right;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .editorial_content {
  min-height: 260px;
  position: relative;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .editorial_content #editor {
  width: 100%;
  min-height: 260px;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .editorial_content #editor #edui1 {
  width: 100% !important;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .editorial_content textarea {
  width: 100%;
  height: 260px;
  padding-bottom: 20px;
  font-size: 12px;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .editorial_content .words_number {
  position: absolute;
  right: 12px;
  bottom: 5px;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .editorial_content .words_number span:first-child {
  color: #2D3037;
}
.editorial_wrapper .editorial_answer .editorial_answer_left .editorial_content .words_number span:last-child {
  color: #BDC5D3;
}
.editorial_wrapper .editorial_answer .editorial_answer_right {
  width: 35%;
  flex-shrink: 0;
  padding: 80px 32px 0 25px;
}
.editorial_wrapper .editorial_answer .editorial_answer_right p {
  margin-bottom: 24px;
  color: #BCC4CC;
}
.editorial_wrapper .editorial_answer .editorial_answer_right .text_mount {
  margin-bottom: 12px;
  overflow: hidden;
  color: #BCC4CC;
}
.editorial_wrapper .editorial_answer .editorial_answer_right .text_mount span {
  color: #BCC4CC;
  float: left;
}
.editorial_wrapper .editorial_answer .editorial_answer_right .text_mount a {
  float: right;
}
.editorial_wrapper .editorial_btn {
  margin: 32px 0 0 35px;
}
.editorial_wrapper .editorial_btn .save {
  border-color: #FF6666;
  color: #FF6666;
  background-color: #fff;
  margin-right: 100px;
}
.editorial_wrapper .editorial_btn .back {
  border-color: #BDC5D3;
  color: #5E6D81;
  background-color: #fff;
  margin-right: 24px;
}
